extends ./layout/layout.pug
block styles
    link(rel="stylesheet", href="/style.css")
block content
    div.chat-page#chat-page
        nav.nav.line-bottom#navbar
            a(href="javascript:history.go(-1);", rel="noopener noreferrer") 
                i.icon.icon-goback
            span 在线客服
        div.chat-body
            ul.chatbody-list#chatbodylist
        footer.chat-footer.line-top
            input(type="text",name="cheat").cheatInput#cheatInput
            label(for="cheatInput").sublime.disable#sublime 发送
block append footer
    script
        | var cname = '#{username}';
    script(src='/app.js')